<!-- ================================ About Four Start =============================== -->
<section class="about-four py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/shapes/shape2.png" alt="" class="shape one animation-scalation">

    <div class="position-relative">
        <div class="container">
            <div class="row gy-xl-0 gy-5 flex-wrap-reverse align-items-center">
                <div class="col-xl-6 pe-xl-5">
                    <div class="about-two__thumb position-relative pe-0 me-xl-5">
                        <img src="assets/images/thumbs/about-four-img.png" class="rounded-16 cover-img" alt="" data-tilt data-tilt-max="6" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-transition="1s" data-tilt-full-page-listening>
                        <div class="offer-message animation-item style-two px-24 py-12 inset-inline-end--64 rounded-6 border border-white bg-success-600 fw-medium flex-align d-inline-flex gap-16 box-shadow-lg">
                            <span class="flex-shrink-0 w-48 h-48 bg-white text-success-600 text-2xl flex-center rounded-circle">
                                <i class="animate__heartBeat ph-bold ph-certificate"></i>
                            </span>
                            <div>
                                <h6 class="text-white mb-1 text-2xl counter">12+</h6>
                                <span class="text-white">Award Winning</span>
                            </div>
                        </div>
                        
                        <div class="d-sm-flex d-none position-absolute inset-block-end-0 inset-inline-start-0 me-lg-0 ms--150px px-24 py-12 rounded-12 bg-white fw-medium flex-align d-inline-flex gap-16 box-shadow-lg" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-transition="1s" data-tilt-scale="1.04">
                            <div class="text-center">
                                <img src="assets/images/thumbs/about-four-short-img.png" class="mb-24" alt="">
                                <div class="mt-24">
                                    <img src="assets/images/shapes/excellator-shape.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="about-two-content">
                        <div class="mb-40">
                            <div class="flex-align d-inline-flex gap-8 mb-16">
                                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                                <h5 class="text-main-600 mb-0">Find Your Tuition Jobs, in your area</h5>
                            </div>
                            <h2 class="mb-24">Find Tutoring Jobs</h2>
                            <p class="text-neutral-500 text-line-2">If teaching jobs interests you, then you are on the right place. EduAll, we often have 500+ open home tuition jobs that are genuine and 100% verified.</p>
                        </div>
    
                        <div class="grid-cols-2">
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-56 h-56 flex-center d-inline-flex bg-main-50 text-main-600 text-32 rounded-circle box-shadow-md">
                                    <i class="animate__swing ph ph-user-plus"></i>
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-semibold mb-8">Create Your Profile</h6>
                                    <div class="flex-align gap-8 text-neutral-500">
                                        <i class="ph ph-clock"></i>
                                        Sign up Or Register
                                    </div>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-56 h-56 flex-center d-inline-flex bg-success-100 text-success-600 text-32 rounded-circle box-shadow-md">
                                    <i class="animate__swing ph ph-calendar-blank"></i>
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-semibold mb-8">Set Your Schedule</h6>
                                    <div class="flex-align gap-8 text-neutral-500">
                                        <i class="ph ph-clock"></i>
                                        Choose your availability
                                    </div>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-56 h-56 flex-center d-inline-flex bg-warning-100 text-warning-600 text-32 rounded-circle box-shadow-md">
                                    <i class="animate__swing ph ph-users"></i>
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-semibold mb-8">Connect Students</h6>
                                    <div class="flex-align gap-8 text-neutral-500">
                                        <i class="ph ph-clock"></i>
                                        Be matched students
                                    </div>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-56 h-56 flex-center d-inline-flex bg-info-100 text-info-600 text-32 rounded-circle box-shadow-md">
                                    <i class="animate__swing ph ph-video-camera"></i>
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-semibold mb-8">Start Tutoring</h6>
                                    <div class="flex-align gap-8 text-neutral-500">
                                        <i class="ph ph-clock"></i>
                                        Begin conducting sessions
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="pt-40 border-top border-neutral-50 mt-40 border-dashed border-0">
                            <a href="tuition-jobs.html" class="btn btn-main rounded-pill flex-align d-inline-flex gap-8">
                                <i class="ph-bold ph-magnifying-glass d-flex text-lg"></i>
                                Find Tuition
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- ================================ About Four End =============================== -->
