<!-- ================================ About Two Section Start ==================================== -->
<section class="about-two py-120 position-relative z-1 bg-main-25">
    <div class="position-relative">
        <div class="container">
            <div class="row gy-xl-0 gy-5 flex-wrap-reverse align-items-center">
                <div class="col-xl-6 pe-xl-5">
                    <div class="about-two__thumb position-relative">
                        <img src="assets/images/thumbs/about-two-img.png" class="rounded-16 cover-img" alt="">
                        
                        <span class="shadow-main-three w-80 h-80 flex-center bg-main-three-600 rounded-circle position-absolute inset-block-start-0 inset-inline-start-0 mt-40 ms--40">
                            <img src="assets/images/icons/bulb-icon.png" class="" alt="">
                        </span>

                        <div class="offer-message  two px-24 py-12 rounded-12 bg-white fw-medium box-shadow-lg flex-align d-inline-flex gap-16">
                            <span class="flex-shrink-0 w-48 h-48 bg-purple-400 text-white text-2xl flex-center rounded-circle"><i class="ph ph-watch"></i></span>
                            <div>
                                <h6 class="mb-4">20% OFF</h6>
                                <span class="">For All Courses</span>
                            </div>
                        </div>

                        <div class="offer-message style-two  me-lg-0 me-24 px-24 py-12 rounded-12 bg-white fw-medium flex-align d-inline-flex gap-16 box-shadow-lg">
                            <span class="flex-shrink-0 w-48 h-48 bg-main-two-600 text-white text-2xl flex-center rounded-circle">
                                <img src="assets/images/icons/stars-white.png" alt="">
                            </span>
                            <div>
                                <span class="text-lg text-neutral-700 d-block">
                                    4.6
                                    <span class="text-neutral-100">(2.4k)</span>
                                </span>
                                <span class="text-neutral-500">AVG Reviews</span>
                            </div>
                        </div>
                        
                        <div class="position-absolute inset-block-end-0 inset-inline-end-0 me-lg-0 me-24 px-24 py-12 rounded-12 bg-white fw-medium flex-align d-inline-flex gap-16 box-shadow-lg">
                            <div class="text-center">
                                <img src="assets/images/icons/circle-progress.png" class="d-sm-flex d-none mb-24" alt="">
                                <h6 class="mb-4 text-neutral-700 text-2xl">Excelent</h6>
                                <span class="text-sm text-neutral-500">90% Satisfied Clients</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-two-content">
                        <div class="mb-40">
                            <div class="flex-align d-inline-flex gap-8 mb-16">
                                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                                <h5 class="text-main-600 mb-0">Why Choose Us</h5>
                            </div>
                            <h2 class="mb-24">Over 16 Years in Distant learning for Skill Development</h2>
                            <p class="text-neutral-500 text-line-2">We are passionate about transforming lives through education. Founded with a vision to make learning accessible to all, we believe in the power of knowledge to unlock opportunities and shape the future.</p>
                        </div>
    
                        <div class="grid-cols-2">
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-60 h-60 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md">
                                    <img src="assets/images/icons/choose-us-icon1.png" class="animate__swing" alt="">
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-medium mb-8">Academic Excellence</h6>
                                    <p class="text-neutral-500 text-line-2">Through our curated courses, interactive content</p>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-60 h-60 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md">
                                    <img src="assets/images/icons/choose-us-icon2.png" class="animate__swing" alt="">
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-medium mb-8">Course Offerings</h6>
                                    <p class="text-neutral-500 text-line-2">Personalized learning paths, we empower learners to acquire </p>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-60 h-60 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md">
                                    <img src="assets/images/icons/choose-us-icon3.png" class="animate__swing" alt="">
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-medium mb-8">Innovative Learning </h6>
                                    <p class="text-neutral-500 text-line-2">Immerse yourself in an innovative learning</p>
                                </div>
                            </div>
                            <div class="flex-align align-items-start gap-20 animation-item">
                                <span class="flex-shrink-0 w-60 h-60 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md">
                                    <img src="assets/images/icons/choose-us-icon4.png" class="animate__swing" alt="">
                                </span>
                                <div class="flex-grow-1">
                                    <h6 class="text-neutral-800 text-xl fw-medium mb-8">Sustainability Initiative</h6>
                                    <p class="text-neutral-500 text-line-2">Be part of a university that cares about the planet. </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="pt-40 border-top border-neutral-50 mt-40 border-dashed border-0">
                            <a href="course.html" class="btn btn-main rounded-pill flex-align d-inline-flex gap-8">
                                Read More
                                <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 </section>
<!-- ================================ About Two Section End ==================================== -->