<!-- ========================= Banner Two Section Start =============================== -->
<section class="banner-two pt-80 position-relative overflow-hidden">

    <img src="assets/images/shapes/banner-two-shape-1.png" class="position-absolute inset-block-end-0 inset-inline-end-0 w-100 h-100 d-lg-block d-none z-n1" alt="" data-tilt data-tilt-speed="500" data-tilt-max="6" data-tilt-perspective="5000" data-tilt-full-page-listening data-tilt-scale="1.03">

    <img src="assets/images/shapes/shape8.png" alt="" class="shape three animation-rotation z-n1">
    <img src="assets/images/shapes/shape8.png" alt="" class="shape five animation-scalation">
    
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-xl-6">

                <div class="banner-content pe-md-4">
                    <div class="flex-align gap-8 mb-16" data-aos="fade-down">
                        <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                        <h5 class="text-main-600 mb-0">Elevate Your Learning</h5>
                    </div>
                    
                    <h1 class="display2 mb-24 wow bounceInLeft">Learn, 
                        <span class="text-main-two-600 wow bounceInRight" data-wow-duration="2s" data-wow-delay=".5s">Grow, </span>
                        <span class="text-main-three-600 wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">Achieve</span>  And Succeed
                    </h1>
                    <p class="text-neutral-500 text-line-2 wow bounceInUp">Welcome to EduAll, where learning knows no bounds. Whether you're a student, professional, or lifelong learner...</p>
                    <div class="buttons-wrapper flex-align flex-wrap gap-24 mt-40">
                        <a href="course.html" class="btn btn-main rounded-pill flex-align gap-8" data-aos="fade-right">
                            Browse Courses
                            <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                        </a>
                        <a href="about.html" class="btn btn-outline-main rounded-pill flex-align gap-8" data-aos="fade-left">
                            About Us
                            <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="banner-thumb position-relative">
                    <img src="assets/images/thumbs/banner-img-2.png" alt="" class="banner-thumb__img rounded-12" data-aos="fade-up">
                    
                    <img src="assets/images/shapes/shape9.png" class="position-absolute inset-block-end-0 start-0 z-n1" alt="" data-tilt data-tilt-max="16" data-tilt-speed="500">
                    <img src="assets/images/shapes/shape10.png" class="position-absolute inset-block-start-0 start-0 z-n1 showHideTwo" alt="" data-tilt data-tilt-max="16" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-startX="100" data-tilt-full-page-listening>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Banner Two Section End =============================== -->