<!-- =========================== Blog Two SEction Start ============================= -->
<section class="blog-two py-120 bg-main-25">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                <h5 class="text-main-600 mb-0">Latest News</h5>
            </div>
            <h2 class="mb-24">Stay Informed, Stay Inspired</h2>
            <p class="">Welcome to our blog, where we share insights, stories, and updates on topics ranging from education</p>
        </div>
        <div class="blog-two-slider">
            <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                    <a href="blog-details.html" class="w-100 h-100">
                        <img src="assets/images/thumbs/blog-two-img1.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                    </a>
                    <div class="position-absolute inset-inline-end-0 inset-block-end-0 me-16 mb-16 py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">
                        <h3 class="mb-0 text-white fw-medium">21</h3>
                        DEC
                    </div>
                </div>
                <div class="pt-32 pb-24 px-16 position-relative">
                    <h4 class="mb-28">
                        <a href="blog-details.html" class="link text-line-2">Navigating the Job Market: Advice for Graduates</a>
                    </h4>
                    <div class="flex-align gap-14 flex-wrap my-20">
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-user-circle"></i></span>
                            <span class="text-neutral-500 text-lg">By Admin</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph-bold ph-eye"></i></span>
                            <span class="text-neutral-500 text-lg">1.6k</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-chat-dots"></i></span>
                            <span class="text-neutral-500 text-lg">24</span>
                        </div>
                    </div>
                    <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                        <a href="blog-details.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                            Read More
                            <i class="ph ph-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                    <a href="blog-details.html" class="w-100 h-100">
                        <img src="assets/images/thumbs/blog-two-img2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                    </a>
                    <div class="position-absolute inset-inline-end-0 inset-block-end-0 me-16 mb-16 py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">
                        <h3 class="mb-0 text-white fw-medium">21</h3>
                        DEC
                    </div>
                </div>
                <div class="pt-32 pb-24 px-16 position-relative">
                    <h4 class="mb-28">
                        <a href="blog-details.html" class="link text-line-2">The Importance of Diversity in Higher Education</a>
                    </h4>
                    <div class="flex-align gap-14 flex-wrap my-20">
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-user-circle"></i></span>
                            <span class="text-neutral-500 text-lg">By Admin</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph-bold ph-eye"></i></span>
                            <span class="text-neutral-500 text-lg">1.6k</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-chat-dots"></i></span>
                            <span class="text-neutral-500 text-lg">24</span>
                        </div>
                    </div>
                    <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                        <a href="blog-details.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                            Read More
                            <i class="ph ph-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                    <a href="blog-details.html" class="w-100 h-100">
                        <img src="assets/images/thumbs/blog-two-img3.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                    </a>
                    <div class="position-absolute inset-inline-end-0 inset-block-end-0 me-16 mb-16 py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">
                        <h3 class="mb-0 text-white fw-medium">21</h3>
                        DEC
                    </div>
                </div>
                <div class="pt-32 pb-24 px-16 position-relative">
                    <h4 class="mb-28">
                        <a href="blog-details.html" class="link text-line-2">10 Tips for Successful Online Learning</a>
                    </h4>
                    <div class="flex-align gap-14 flex-wrap my-20">
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-user-circle"></i></span>
                            <span class="text-neutral-500 text-lg">By Admin</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph-bold ph-eye"></i></span>
                            <span class="text-neutral-500 text-lg">1.6k</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-chat-dots"></i></span>
                            <span class="text-neutral-500 text-lg">24</span>
                        </div>
                    </div>
                    <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                        <a href="blog-details.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                            Read More
                            <i class="ph ph-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                    <a href="blog-details.html" class="w-100 h-100">
                        <img src="assets/images/thumbs/blog-two-img2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                    </a>
                    <div class="position-absolute inset-inline-end-0 inset-block-end-0 me-16 mb-16 py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">
                        <h3 class="mb-0 text-white fw-medium">21</h3>
                        DEC
                    </div>
                </div>
                <div class="pt-32 pb-24 px-16 position-relative">
                    <h4 class="mb-28">
                        <a href="blog-details.html" class="link text-line-2">The Importance of Diversity in Higher Education</a>
                    </h4>
                    <div class="flex-align gap-14 flex-wrap my-20">
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-user-circle"></i></span>
                            <span class="text-neutral-500 text-lg">By Admin</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph-bold ph-eye"></i></span>
                            <span class="text-neutral-500 text-lg">1.6k</span>
                        </div>
                        <span class="w-8 h-8 bg-neutral-100 rounded-circle"></span>
                        <div class="flex-align gap-8">
                            <span class="text-neutral-500 text-2xl d-flex"><i class="ph ph-chat-dots"></i></span>
                            <span class="text-neutral-500 text-lg">24</span>
                        </div>
                    </div>
                    <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                        <a href="blog-details.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                            Read More
                            <i class="ph ph-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-align gap-16 mt-40 justify-content-center">
            <button type="button" id="blog-two-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="blog-two-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
    </div>
</section>
<!-- =========================== Blog Two SEction End ============================= -->
