<!-- ============================ Category Section Start ==================================== -->
 <section class="category py-120 position-relative z-1 mash-bg-main mash-bg-main-two mash-reverse">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16 wow bounceInDown">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                <h5 class="text-main-600 mb-0">Categories</h5>
            </div>
            <h2 class="mb-24 wow bounceIn">Elevate Your Learning Experience</h2>
            <p class=" wow bounceInUp">Our platform is built on the principles of innovation, quality, and inclusivity, aiming to provide a seamless learning</p>
        </div>
        <div class="category-item-slider">
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-25 border border-neutral-30 hover-border-main-600 transition-2" data-aos="fade-up" data-aos-duration="200">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon1.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">Arts & Design</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-600 hover-bg-main-600 hover-text-white hover-border-main-600">
                    14 Course
                </a>
            </div>
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-two-25 border border-neutral-30 hover-border-main-two-600 transition-2" data-aos="fade-up" data-aos-duration="400">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon2.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">ArtsDesign</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-two-600 hover-bg-main-two-600 hover-text-white hover-border-main-two-600">
                    15 Course
                </a>
            </div>
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-three-25 border border-neutral-30 hover-border-main-three-600 transition-2" data-aos="fade-up" data-aos-duration="600">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-three-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon3.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">Data Science</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-three-600 hover-bg-main-three-600 hover-text-white hover-border-main-three-600">
                    14 Course
                </a>
            </div>
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-two-25 border border-neutral-30 hover-border-main-two-600 transition-2" data-aos="fade-up" data-aos-duration="800">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon4.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">Business & Finance</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-two-600 hover-bg-main-two-600 hover-text-white hover-border-main-two-600">
                    21 Course
                </a>
            </div>
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-three-25 border border-neutral-30 hover-border-main-three-600 transition-2" data-aos="fade-up" data-aos-duration="400">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-three-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon3.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">Data Science</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-three-600 hover-bg-main-three-600 hover-text-white hover-border-main-three-600">
                    14 Course
                </a>
            </div>
            <div class="category-item animation-item h-100 text-center px-16 py-32 rounded-12 bg-main-two-25 border border-neutral-30 hover-border-main-two-600 transition-2" data-aos="fade-up" data-aos-duration="600">
                <span class="w-96 h-96 flex-center d-inline-flex bg-white text-main-600 text-40 rounded-circle box-shadow-md mb-24">
                    <img src="assets/images/icons/category-icon2.png" class="animate__flipInY" alt="">
                </span>
                <h4 class="display-four mb-16 text-neutral-700">ArtsDesign</h4>
                <p class="text-neutral-500 text-lg text-line-2">Courses on nutrition, fitness training, yoga...</p>
                <a href="courses.html" class="py-12 px-24 bg-white rounded-8 border border-neutral-30 mt-28 fw-semibold text-main-two-600 hover-bg-main-two-600 hover-text-white hover-border-main-two-600">
                    15 Course
                </a>
            </div>
        </div>
        <div class="flex-align gap-16 mt-40 justify-content-center">
            <button type="button" id="category-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="category-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
    </div>
 </section>
<!-- ============================ Category Section End ==================================== -->