<!-- ============================== Certificate Two Section Start ===================================== -->
<section class="certificate-two py-120 position-relative z-1 mash-bg-main mash-bg-main-two mash-reverse">
    <div class="section-heading text-center">
        <h2 class="mb-24">Skills Certificate from the EduAll</h2>
        <p>Online courses certification section design for showcase your certificate program features.</p>
    </div>
    <div class="position-relative">
        <div class="container">
            <div class="row align-items-center gy-4">
                <div class="col-lg-6 pe-lg-5">
                    <div class="certificate-two-item animation-item border-bottom border-neutral-50 border-dashed border-0 mb-28 pb-28">
                        <div class="flex-align gap-20 mb-12">
                            <span class="w-52 h-52 flex-center d-inline-flex bg-main-25 rounded-circle text-main-600 text-2xl">
                                <i class="animate__wobble ph-bold ph-medal"></i>
                            </span>
                            <h5 class="mb-0">Learn from Industry Experts</h5>
                        </div>
                        <p class="text-neutral-700 text-line-2">Lorem ipsum dolor sit amet, conse ctetur adipisc amus ac iaculis arcu.</p>
                    </div>
                    <div class="certificate-two-item animation-item border-bottom border-neutral-50 border-dashed border-0 mb-28 pb-28">
                        <div class="flex-align gap-20 mb-12">
                            <span class="w-52 h-52 flex-center d-inline-flex bg-main-25 rounded-circle text-main-600 text-2xl">
                                <i class="animate__wobble ph-bold ph-clock"></i>
                            </span>
                            <h5 class="mb-0">Learn Anytime, Anywhere</h5>
                        </div>
                        <p class="text-neutral-700 text-line-2">Lorem ipsum dolor sit amet, conse ctetur adipisc amus ac iaculis arcu.</p>
                    </div>
                    <div class="certificate-two-item animation-item border-bottom border-neutral-50 border-dashed border-0 mb-28 pb-28">
                        <div class="flex-align gap-20 mb-12">
                            <span class="w-52 h-52 flex-center d-inline-flex bg-main-25 rounded-circle text-main-600 text-2xl">
                                <i class="animate__wobble ph-bold ph-star"></i>
                            </span>
                            <h5 class="mb-0">Free Resources</h5>
                        </div>
                        <p class="text-neutral-700 text-line-2">Lorem ipsum dolor sit amet, conse ctetur adipisc amus ac iaculis arcu.</p>
                    </div>
                    <div class="certificate-two-item animation-item">
                        <div class="flex-align gap-20 mb-12">
                            <span class="w-52 h-52 flex-center d-inline-flex bg-main-25 rounded-circle text-main-600 text-2xl">
                                <i class="animate__wobble ph-bold ph-chart-line-up"></i>
                            </span>
                            <h5 class="mb-0">Skill-based Learning</h5>
                        </div>
                        <p class="text-neutral-700 text-line-2">Lorem ipsum dolor sit amet, conse ctetur adipisc amus ac iaculis arcu.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="certificate-two__thumb">
                        <img src="assets/images/thumbs/certificate-two-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Certificate Two Section End ===================================== -->