<!-- ============================== Choose Us Two Section Start ================================== -->
<section class="choose-us-two pt-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7 pe-xl-5">
                <div class="pb-80 mb-lg-5 me-lg-5">
                    <div class="flex-align d-inline-flex gap-8 mb-16">
                        <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                        <h5 class="text-main-600 mb-0">Why Choose Us</h5>
                    </div>
                    <h2 class="mb-24">We Provide a Useful, Innovative and cross-disciplinary education</h2>
                    <p class="text-neutral-500 text-line-2">We embrace innovation and creativity as catalysts for positive change, driving forward-thinking research, teaching methodologies.</p>
                    <p class="text-neutral-500 text-line-2 mt-24">Certainly cordially, sweetness perceived day's end; why knowledge, a perception to cherish deeply.</p>
    
                    <a href="about.html" class="btn btn-main rounded-pill flex-align d-inline-flex gap-8 mt-40">
                        Read More
                        <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="pt-40 pb-90 px-60 bg-neutral-900 rounded-top-4">
                    <h4 class="mb-28 pb-28 border-bottom border-top-0 border-start-0 border-end-0 border-opacity-25 border-white border-dashed text-white">Important Link</h4>
                    <ul>
                        <li class="mb-24">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Admission Notice
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                        <li class="mb-24">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Summer Admission 2024
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                        <li class="mb-24">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Upcoming Seminar
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                        <li class="mb-24">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Download Curriculum
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                        <li class="mb-24">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Alumni Seminar
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                        <li class="mb-0">
                            <a href="contact.html" class="flex-align gap-12 text-white hover-text-decoration-underline">
                                Exam Notice
                                <i class="text-main-two-600 ph-bold ph-arrow-right d-flex text-xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Choose Us Two Section End ================================== -->