<!-- ============================= Faculty Section Start ================================= -->
<section class="faculty py-120 bg-main-25">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                <h5 class="text-main-600 mb-0">Explore Faculty Of University</h5>
            </div>
            <h2 class="mb-24">Top Listed Faculty</h2>
            <p class="">Certainly cordially, sweetness perceived day's end; why knowledge, a perception to cherish deeply.</p>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img1.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">Admission Open</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">Explore 4,000+ Free Online
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    CSE
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Faculty of Engineering Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-two-600 text-white fw-medium">Admission Closed</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    ARTS
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Arts and Humanities Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img3.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">Admission Open</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    BBA
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Social And Sciences Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img4.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-two-600 text-white fw-medium">Admission Closed</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    CSE
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Computer Science Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img5.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-three-600 text-white fw-medium">Admission Open</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    BBA
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Business and Economics Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                        <a href="course-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/faculty-img6.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <span class="text-up py-12 px-24 rounded-8 bg-main-two-600 text-white fw-medium">Admission Closed</span>
                            <div class="flex-between gap-8 flex-wrap mb-16">
                                <a href="course.html" class="py-8 px-20 rounded-8 flex-align gap-8 text-main-600 fw-medium bg-main-25 hover-bg-main-600 hover-text-white">
                                    <span class="text-xl d-flex">
                                        <i class="ph-bold ph-squares-four"></i>
                                    </span>
                                    Medical
                                </a>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <h4 class="mb-28">
                                <a href="course-details.html" class="link text-line-2">Medicine and Health Sciences Admissions</a>
                            </h4>
                            <ul class="check-list">
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Playground</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Library</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Canteen</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Stationary</span>
                                </li>
                                <li class="flex-align gap-8">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md">Hostel</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-40">
            <a href="about.html" class="btn btn-outline-main rounded-pill flex-align d-inline-flex gap-8">
                See All University
                <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
            </a>
        </div>
    </div>
</section>
<!-- ============================= Faculty Section End ================================= -->