<!-- ============================= Features Two Section Start ============================== -->
<section class="features-two half-bg py-120 position-relative overflow-hidden">
    <img src="assets/images/shapes/shape2.png" alt="" class="shape two animation-scalation">
    <img src="assets/images/shapes/shape4.png" alt="" class="shape six animation-walking">

    <div class="container">
        <div class="section-heading style-flex">
            <div class="section-heading__inner">
                <h2 class="mb-24 wow bounceInLeft">Build better growth skills, faster. Ignite Your Learning Journey</h2>
            </div>
            <div class="section-heading__content wow bounceInRight">
                <p class="text-line-2">Explore new skills, deepen existing passions, and get lost in creativity. What you find just might...</p>
                <a href="course-list-view.html" class="item-hover__text flex-align d-inline-flex gap-8 text-main-600 mt-24 hover-text-decoration-underline transition-1 fw-semibold">
                    Read More
                    <i class="ph ph-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="200">
                <div class="text-center features-item item-hover animation-item bg-white border border-neutral-30 rounded-16 transition-1 hover-bg-main-600 hover-border-main-600">
                    <span class="mb-32 w-110 h-110 flex-center d-inline-flex bg-main-25 rounded-circle">
                        <img src="assets/images/icons/features-two-icon1.png" class="animate__bounce" alt="">
                    </span>
                    <h4 class="mb-16 transition-1 item-hover__text">Learn the latest skills</h4>
                    <p class="transition-1 item-hover__text text-line-2">Quality education shouldn't break the bank. We offer competitive pricing and payment options</p>
                    <span class="item-hover__bg w-48 h-1 bg-neutral-500 mt-32"></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="400">
                <div class="text-center features-item item-hover animation-item bg-white border border-neutral-30 rounded-16 transition-1 hover-bg-main-600 hover-border-main-600">
                    <span class="mb-32 w-110 h-110 flex-center d-inline-flex bg-main-25 rounded-circle">
                        <img src="assets/images/icons/features-two-icon2.png" class="animate__bounce" alt="">
                    </span>
                    <h4 class="mb-16 transition-1 item-hover__text">Get ready for a career</h4>
                    <p class="transition-1 item-hover__text text-line-2">Engage in dynamic and interactive learning experiences. Our courses are designed</p>
                    <span class="item-hover__bg w-48 h-1 bg-neutral-500 mt-32"></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="600">
                <div class="text-center features-item item-hover animation-item bg-white border border-neutral-30 rounded-16 transition-1 hover-bg-main-600 hover-border-main-600">
                    <span class="mb-32 w-110 h-110 flex-center d-inline-flex bg-main-25 rounded-circle">
                        <img src="assets/images/icons/features-two-icon3.png" class="animate__bounce" alt="">
                    </span>
                    <h4 class="mb-16 transition-1 item-hover__text">Earn a Certificate</h4>
                    <p class="transition-1 item-hover__text text-line-2">Join a vibrant and supportive learning community. Connect with fellow learners</p>
                    <span class="item-hover__bg w-48 h-1 bg-neutral-500 mt-32"></span>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ============================= Features Two Section End ============================== -->