
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer py-120 bg-neutral-900">
    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-xl-4 col-lg-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="index.html"> <img src="assets/images/logo/logo.png" alt=""></a>
                    </div>
                    <p class="text-white mb-24">It is a long established fact that a reader will be distracted</p>
                    
                    <h6 class="footer-item__title text-white mt-4 mt-lg-5">Lets Work Together</h6>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="contact-info  d-flex align-items-start gap-24">
                                <span class="contact-info__icon text-main"><i class="fas fa-map-marker-alt"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Address</span>
                                    <span class="contact-info__address text-white">66 Broklyant, New York India</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-6">
                             <div class="contact-inf d-flex align-items-start gap-24">
                                <span class="contact-info__icon text-main"><i class="fas fa-phone"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Phone Number</span>
                                    <span class="contact-info__address text-white">012 345 678 9101</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title text-white">Services</h6>
                    <ul class="footer-menu">
                        <li class="mb-16">
                            <a href="#" class="text-white hover-text-decoration-underline">Reliable Rentals </a>
                        </li>
                        <li class="mb-16">
                            <a href="#" class="text-white hover-text-decoration-underline">Golden Key Properties </a>
                        </li>
                        <li class="mb-16">
                            <a href="#" class="text-white hover-text-decoration-underline">Swift Home Sales </a>
                        </li>
                        <li class="mb-16">
                            <a href="#" class="text-white hover-text-decoration-underline">Elite Realty Services </a>
                        </li>
                        <li class="mb-16">
                            <a href="#" class="text-white hover-text-decoration-underline">Dream Property Solutions </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="text-white">Subscribe</h6>
                    <p class="text-white mb-16">It is a long established fact that  reader will be Elite Property </p>

                    <form action="#" class="subscribe-box mb-24">
                        <div class="input-group">
                            <input type="text" class="form-control common-input common-input--md border border-neutral-600 text-white" placeholder="Your mail address">
                            <button type="submit" class="px-4 input-group-text px-12 bg-main-600 text-white border-0"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>

                    @@include('../partials/_social-icon.html')
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- bottom Footer -->
<div class="bottom-footer bg-neutral-900 border-top border-neutral-600 py-32">
    <div class="container container-two">
        <div class="bottom-footer__inner flex-between gap-3 py-16">
            <p class="bottom-footer__text text-white"> &copy; CityScape 2024 | All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#" class="text-white hover-text-decoration-underline">Terms & Condition</a>
                <a href="#" class="text-white hover-text-decoration-underline">Privacy Policy</a>
                <a href="#" class="text-white hover-text-decoration-underline">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Footer End Here ==================== -->
  