<!-- ================================== Free Trail Section Start ================================ -->
<section class="free-trails py-120 position-relative z-1 bg-main-25 overflow-hidden">
    <div class="position-relative">
        <div class="container">
            <div class="row gy-xl-0 gy-5 flex-wrap-reverse align-items-center">
                <div class="col-lg-6">
                    <div class="position-relative wow bounceIn">
                        <img src="assets/images/thumbs/trail-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-transition="1s" data-tilt-full-page-listening>
                        <div class="w-120 h-120 bg-main-two-600 rounded-circle border border-white d-flex flex-column align-items-center justify-content-center position-absolute start-50 top-0 translate-middle-x mt-28">
                            <h3 class="text-white mb-0 fw-medium counter counter">12.4k</h3>
                            <span class="text-white text-secondary">Community</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-40">
                        <div class="flex-align d-inline-flex gap-8 mb-16 wow bounceInDown">
                            <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                            <h5 class="text-main-600 mb-0">Request a Class for FREE Trial</h5>
                        </div>
                        <h2 class="mb-24 wow bounceInRight">Experience Personalized Learning Today</h2>
                        <p class="text-neutral-500 text-line-2 wow bounceInUp">Ready to experience the benefits of personalized tutoring firsthand? Sign up for a FREE trial class today and see how our expert tutors can help you.</p>
                    </div>

                    <ul class="grid-cols-2">
                        <li class="flex-align gap-8" data-aos="fade-left" data-aos-duration="200">
                            <img src="assets/images/icons/check2.png" alt="">
                            <span class="text-neutral-500 text-md fw-medium">Fill Out the Form</span>
                        </li>
                        <li class="flex-align gap-8" data-aos="fade-left" data-aos-duration="400">
                            <img src="assets/images/icons/check2.png" alt="">
                            <span class="text-neutral-500 text-md fw-medium">Schedule Your Class</span>
                        </li>
                        <li class="flex-align gap-8" data-aos="fade-left" data-aos-duration="600">
                            <img src="assets/images/icons/check2.png" alt="">
                            <span class="text-neutral-500 text-md fw-medium">Meet Your Tutor </span>
                        </li>
                        <li class="flex-align gap-8" data-aos="fade-left" data-aos-duration="800">
                            <img src="assets/images/icons/check2.png" alt="">
                            <span class="text-neutral-500 text-md fw-medium">Start The Class</span>
                        </li>
                    </ul>

                    <div class="pt-40 border-top border-neutral-50 mt-40 border-dashed border-0">
                        <a href="sign-up.html" class="btn btn-main rounded-pill flex-align d-inline-flex gap-8">
                            Register Now
                            <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 </section>
<!-- ================================== Free Trail Section End ================================ -->
