<!-- ================================== Kid`s Courses Section Start =========================== -->
<section class="explore-course py-120 bg-main-25 position-relative z-1">
    <div class="container">
        <div class="max-w-611 text-center mx-auto mb-60">
            <div class="text-main-600 fw-semibold text-xl d-flex align-items-center gap-8 mb-16 justify-content-center flex-wrap" data-aos="fade-down">
                <span><i class="ph-bold ph-book"></i></span>
                <span>Popular Kid`s Courses</span>
            </div>
            <h2 class="mb-24 wow bounceIn">Building a Brighter Future</h2>
            <p class="max-w-557-px text-md text-neutral-700 fw-normal wow bounceInUp">Our platform is built on the principles of innovation, quality, and inclusivity, aiming to provide a seamless learning</p>
        </div>

        <div class="text-center">
            <div class="nav-tab-wrapper bg-white p-16 mb-40 d-inline-block" data-aos="zoom-out">
                <ul class="nav nav-pills common-tab gap-16" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 gap-8 active" id="pills-categories-tab" data-bs-toggle="pill" data-bs-target="#pills-categories" type="button" role="tab" aria-controls="pills-categories" aria-selected="true">
                            <i class="text-xl d-flex ph-bold ph-squares-four"></i>
                            All Categories
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 gap-8" id="pills-Years-tab" data-bs-toggle="pill" data-bs-target="#pills-Years" type="button" role="tab" aria-controls="pills-Years" aria-selected="false">
                            <i class="text-xl d-flex ph-bold ph-magic-wand"></i>
                            2-3 Years
                        </button>
                    </li>
                 
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 gap-8" id="pills-oldder-tab" data-bs-toggle="pill" data-bs-target="#pills-oldder" type="button" role="tab" aria-controls="pills-oldder" aria-selected="false">
                            <i class="text-xl d-flex ph-bold ph-code"></i>
                            3-4 Years
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 gap-8" id="pills-webDesign-tab" data-bs-toggle="pill" data-bs-target="#pills-webDesign" type="button" role="tab" aria-controls="pills-webDesign" aria-selected="false">
                            <i class="text-xl d-flex ph-bold ph-code"></i>
                            4-5 Years
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-categories" role="tabpanel" aria-labelledby="pills-categories-tab" tabindex="0">
               @@include('../partials/_kids-courses.html')
            </div>
            <div class="tab-pane fade" id="pills-Years" role="tabpanel" aria-labelledby="pills-Years-tab" tabindex="0">
                @@include('../partials/_kids-courses.html')
            </div>
         
            <div class="tab-pane fade" id="pills-oldder" role="tabpanel" aria-labelledby="pills-oldder-tab" tabindex="0">
               @@include('../partials/_kids-courses.html')
            </div>
            <div class="tab-pane fade" id="pills-webDesign" role="tabpanel" aria-labelledby="pills-webDesign-tab" tabindex="0">
               @@include('../partials/_kids-courses.html')
            </div>
        </div>
    </div>
 </section>
<!-- ================================== Kid`s Courses Section End =========================== -->