<!-- =========================== Header Top Start ============================= -->
<div class="header-top bg-main-25 border-bottom border-neutral-20">
    <div class="container">
        <div class="flex-between gap-24">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->

            <!-- Search Start -->
            <div class="d-md-flex d-none bg-white border border-neutral-30 rounded-pill p-8 ps-24 pe-56 position-relative d-flex align-items-center  min-w-320 max-w-708 w-100">
                <div class="header-select style-two bg-white rounded-pill position-relative">
                    <select class="js-example-basic-single border-0" name="state">
                        <option value="1" selected >Physics</option>
                        <option value="1">Math</option>
                        <option value="1">Biology</option>
                        <option value="1">English</option>
                        <option value="1">Higher Math</option>
                        <option value="1">Social Science</option>
                        <option value="1">Chemistry</option>
                    </select>
                </div>

                <form action="#" class="border-start border-neutral-30 ps-24 w-100">
                    <input type="text" class="common-input border-0 px-0 py-10" placeholder="Search Tutors...">
                    <button type="submit" class="w-44 h-44 bg-main-600 hover-bg-main-700 rounded-circle flex-center text-xl text-white position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <!-- Search End -->
            
            <!-- Buttons Start -->
            <div class="d-lg-flex d-none flex-align flex-md-nowrap flex-wrap gap-16 flex-shrink-0">
                <a href="sign-in.html" class="btn btn-outline-main rounded-pill flex-align gap-8">
                    Login
                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                </a>
                <a href="sign-up.html" class="btn btn-main rounded-pill flex-align gap-8">
                    Sign Up
                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                </a>
            </div>

            <a href="sign-in.html" class="d-lg-none flex-shrink-0 w-52 h-52 bg-white hover-bg-main-600 border border-neutral-30 rounded-circle flex-center text-2xl text-neutral-500 hover-text-white hover-border-main-600">
                <i class="ph ph-user-circle"></i>
            </a>
            <!-- Buttons End -->

        </div>
    </div>
</div>
<!-- =========================== Header Top End ============================= -->