<!-- ========================== Info Section Start =================================== -->
<section class="info py-40 bg-main-600">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6"  data-aos="fade-up" data-aos-duration="200">
                <div class="info-item animation-item flex-align gap-20">
                    <span class="w-60 h-60 flex-center bg-white text-main-600 text-28 rounded-circle flex-shrink-0">
                        <i class="animate__heartBeat ph-bold ph-video-camera"></i>
                    </span>
                    <div class="flex-grow-1">
                        <h5 class="mb-8 text-white fw-medium">50,000 online courses</h5>
                        <span class="text-sm text-white">Enjoy a variety of fresh topics</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6"  data-aos="fade-up" data-aos-duration="400">
                <div class="info-item animation-item flex-align gap-20">
                    <span class="w-60 h-60 flex-center bg-white text-main-600 text-28 rounded-circle flex-shrink-0">
                         <i class="animate__heartBeat ph-bold ph-users"></i>
                        </span>
                    <div class="flex-grow-1">
                        <h5 class="mb-8 text-white fw-medium">Expert instruction</h5>
                        <span class="text-sm text-white">Find the right instructor for you</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6"  data-aos="fade-up" data-aos-duration="600">
                <div class="info-item animation-item flex-align gap-20">
                    <span class="w-60 h-60 flex-center bg-white text-main-600 text-28 rounded-circle flex-shrink-0">
                         <i class="animate__heartBeat ph-bold ph-clock"></i>
                        </span>
                    <div class="flex-grow-1">
                        <h5 class="mb-8 text-white fw-medium">Life time access</h5>
                        <span class="text-sm text-white">Learn on your schedule </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6"  data-aos="fade-up" data-aos-duration="800">
                <div class="info-item animation-item flex-align gap-20">
                    <span class="w-60 h-60 flex-center bg-white text-main-600 text-28 rounded-circle flex-shrink-0">
                         <i class="animate__heartBeat ph-bold ph-certificate"></i>
                        </span>
                    <div class="flex-grow-1">
                        <h5 class="mb-8 text-white fw-medium">Get Certificate</h5>
                        <span class="text-sm text-white">When Courses Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Info Section End =================================== -->