<!-- ================================ Join Community Section Start ============================= -->
<section class="join-community">
    <div class="container container--lg">
        <div class="bg-main-25 rounded-20 py-120 px-8">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="join-community__content">
                            <div class="mb-40">
                                <h2 class="mb-24">Join the EduAll Community: Start Now</h2>
                                <p class="text-neutral-500 text-line-2">Ready to explore our courses firsthand? Sign up for a free trial lesson today and get a taste of the engaging.</p>
                            </div>

                            <form action="#">
                                <div class="mb-24 position-relative">
                                    <input type="text" class="bg-white text-black border border-transparent focus-border-main-600 h-48 rounded-pill px-16 ps-60 outline-0 w-100" placeholder="Enter Name...">
                                    <span class="bg-white text-neutral-200 text-2xl flex-center w-48 h-48 rounded-circle border border-main-25 border-4 position-absolute inset-inline-start-0 top-50 translate-middle-y">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                </div>
                                <div class="mb-24 position-relative">
                                    <input type="email" class="bg-white text-black border border-transparent focus-border-main-600 h-48 rounded-pill px-16 ps-60 outline-0 w-100" placeholder="Enter Email">
                                    <span class="bg-white text-neutral-200 text-2xl flex-center w-48 h-48 rounded-circle border border-main-25 border-4 position-absolute inset-inline-start-0 top-50 translate-middle-y">
                                        <i class="ph-bold ph-envelope-open"></i>
                                    </span>
                                </div>
                                <div class="mb-24 position-relative">
                                    <select class="bg-white text-black border border-transparent focus-border-main-600 h-48 rounded-pill px-16 ps-60 outline-0 w-100 text-neutral-300">
                                        <option value="1">Front End Developer</option>
                                        <option value="1">Back End Developer</option>
                                        <option value="1">UX/UI Designer</option>
                                    </select>
                                    <span class="bg-white text-neutral-200 text-2xl flex-center w-48 h-48 rounded-circle border border-main-25 border-4 position-absolute inset-inline-start-0 top-50 translate-middle-y">
                                        <i class="ph-bold ph-book"></i>
                                    </span>
                                </div>
                                <div class="mt-40 position-relative">
                                    <button type="submit" class="btn btn-main rounded-pill flex-align d-inline-flex gap-8">
                                        Join Now
                                        <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                    </button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="join-community__thumb text-end position-relative">
                            <img src="assets/images/thumbs/join-community-img.png" alt=""data-tilt data-tilt-max="12" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>

                            <div class="offer-message style-two px-24 py-12 rounded-12 bg-white fw-medium flex-align d-inline-flex gap-16 box-shadow-lg animation-upDown">
                                <span class="banner-box__icon flex-shrink-0 w-48 h-48 bg-purple-400 text-white text-2xl flex-center rounded-circle">
                                    <i class="ph-bold ph-users"></i>
                                </span>
                                <div class="text-start">
                                    <h6 class="mb-4">56K</h6>
                                    <span class="">All Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ Join Community Section End ============================= -->