<!-- ================================= Marquee Section Start =============================== -->
<div class="py-24 bg-main-05 overflow-hidden">
    <div class="marquee-area">
        <div class="container-fluid p-0">
            <div class="slider__marquee style2">
                <div class="marquee_mode">
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Success</h2>
                    </div>
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Dream</h2>
                    </div>
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Learn</h2>
                    </div>
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Achieve</h2>
                    </div>
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Perfect</h2>
                    </div>
                    <div class="item d-flex align-items-center gap-32">
                        <img src="assets/images/icons/marquee-star-img.png" alt="Star">
                        <h2 class="fw-bold text-uppercase text-stroke hover-text-fill display-3 mb-0">Courses</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 
<!-- ================================= Marquee Section End =============================== -->
