<!-- Masonry Start -->
<div class="masonry">
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img1.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img1.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img2.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img2.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img3.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img3.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img4.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img4.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img5.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img5.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img6.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img6.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img7.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img7.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img8.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img8.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
    <div class="masonry__item position-relative rounded-12 overflow-hidden">
        <img src="assets/images/thumbs/gallery-img9.png" class="cover-img">
        <a href="assets/images/thumbs/gallery-img9.png" class="masonry__image position-absolute start-50 top-50 translate-middle z-1 text-white w-100 h-100 d-flex justify-content-center align-items-center rounded-12 hidden opacity-0">
            <i class="ph ph-magnifying-glass-plus"></i>
        </a>
    </div>
</div>
<!-- Masonry End -->
