
<ul class="nav-menu flex-align @@class">
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
        <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="index.html" class="nav-submenu__link hover-bg-neutral-30"> Home One</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-2.html" class="nav-submenu__link hover-bg-neutral-30"> Home Two</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-3.html" class="nav-submenu__link hover-bg-neutral-30"> Home Three</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="course.html" class="nav-submenu__link hover-bg-neutral-30"> Course Grid View</a>
            </li>
            <li class="nav-submenu__item">
                <a href="course-list-view.html" class="nav-submenu__link hover-bg-neutral-30"> Course List View</a>
            </li>
            <li class="nav-submenu__item">
                <a href="course-details.html" class="nav-submenu__link hover-bg-neutral-30"> Course Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="about.html" class="nav-submenu__link hover-bg-neutral-30"> About</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Project</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="#" class="nav-submenu__link hover-bg-neutral-30"> Project </a>
            </li>
            <li class="nav-submenu__item">
                <a href="#" class="nav-submenu__link hover-bg-neutral-30">Project Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="#" class="nav-submenu__link hover-bg-neutral-30"> Blog Classic</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-details.html" class="nav-submenu__link hover-bg-neutral-30"> Blog Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Contact</a>
    </li>
</ul>