<!-- ================================= Newsletter Section Start ================================= -->
<div class="certificate overflow-hidden">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <h2 class="text-white mb-16 fw-medium wow bounceInRight">Subscribe for newsletters</h2>
                                <p class="text-white wow bounceInUp">Subscribe Our Newsletter For Latest Updates</p>
                                <form action="#" class="position-relative mt-40 wow bounceInRight">
                                    <input type="text" class="common-input rounded-pill pe-44" placeholder="Enter Email...">
                                    <button type="submit" class="w-32 h-32 bg-main-600 hover-bg-main-700 rounded-circle flex-center text-lg text-white position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
                                        <i class="ph ph-paper-plane-tilt"></i>
                                    </button>
                                </form>
                                <div class="flex-align gap-8 text-white mt-24 wow bounceInUp">
                                    <i class=" text-2xl ph-fill ph-check-circle"></i>
                                    <p class="">I agree with privacy policy and terms</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up">    
                                <img src="assets/images/thumbs/newsletter-two-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================================= Newsletter Section End ================================= -->