<!-- ================================ our popular Section Start ==================================== -->
<section class="instructor py-120 bg-main-25 position-relative z-1">
    
    <div class="container">
        <div class="max-w-535-px text-center mx-auto mb-60">
            <div class="text-20 fw-semibold text-main-600 d-flex gap-8 mb-16 justify-content-center" data-aos="fade-down">
                <span>
                    <i class="ph-bold ph-book-open"></i>
                </span>
                <span>Our Popular Tutors</span>
            </div>
            <h2 class="text-neutral-700 mb-24 wow bounceIn">Here are few of the Verified Teachers</h2>
            <p class="text-16 fw-normal wow bounceInUp">Our tutoring sessions are interactive and engaging, focusing on the student's specific needs.</p>
        </div>

        <div class="our-popular-slider">

            <div data-aos="fade-up"  data-aos-duration="600">
                <div class="instructor-item scale-hover-item bg-white rounded-16 transition-03 p-12 h-100 border border-neutral-30 hover-border-main-600 border">
                    <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                        <a href="instructor-details.html" class="w-100 h-100 d-flex align-items-end">
                            <img src="assets/images/thumbs/our-popular-img-1.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
    
                        <div class="">
                            <div class="our-popular-five">
                                <button class="our-popular-five__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                                <ul class="social-list flex-align flex-column gap-12 mt-12">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                    <div class="p-24">
                        <div class="text-center">
                            <h4 class="mb-4">
                                <a href="instructor-details.html" class="link text-line-2">Albert Flores</a>
                            </h4>
                            <span>English Expert</span>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up"  data-aos-duration="700">
                <div class="instructor-item scale-hover-item bg-white rounded-16 transition-03 p-12 h-100 border border-neutral-30 hover-border-main-600 border">
                    <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                        <a href="instructor-details.html" class="w-100 h-100 d-flex align-items-end">
                            <img src="assets/images/thumbs/our-popular-img-2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
    
                        <div class="">
                            <div class="our-popular-five">
                                <button class="our-popular-five__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                                <ul class="social-list flex-align flex-column gap-12 mt-12">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                    <div class="p-24">
                        <div class="text-center">
                            <h4 class="mb-4">
                                <a href="instructor-details.html" class="link text-line-2">Theresa Webb</a>
                            </h4>
                            <span>Data And Science</span>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up"  data-aos-duration="800">
                <div class="instructor-item scale-hover-item bg-white rounded-16 transition-03 p-12 h-100 border border-neutral-30 hover-border-main-600 border">
                    <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                        <a href="instructor-details.html" class="w-100 h-100 d-flex align-items-end">
                            <img src="assets/images/thumbs/our-popular-img-3.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
    
                        <div class="">
                            <div class="our-popular-five">
                                <button class="our-popular-five__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                                <ul class="social-list flex-align flex-column gap-12 mt-12">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                    <div class="p-24">
                        <div class="text-center">
                            <h4 class="mb-4">
                                <a href="instructor-details.html" class="link text-line-2">Jacob Jones</a>
                            </h4>
                            <span>Social Science</span>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up"  data-aos-duration="900">
                <div class="instructor-item scale-hover-item bg-white rounded-16 transition-03 p-12 h-100 border border-neutral-30 hover-border-main-600 border">
                    <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                        <a href="instructor-details.html" class="w-100 h-100 d-flex align-items-end">
                            <img src="assets/images/thumbs/our-popular-img-4.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
    
                        <div class="">
                            <div class="our-popular-five">
                                <button class="our-popular-five__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                                <ul class="social-list flex-align flex-column gap-12 mt-12">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                    <div class="p-24">
                        <div class="text-center">
                            <h4 class="mb-4">
                                <a href="instructor-details.html" class="link text-line-2">Cody Fisher</a>
                            </h4>
                            <span>IT Specialist</span>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up"  data-aos-duration="700">
                <div class="instructor-item scale-hover-item bg-white rounded-16 transition-03 p-12 h-100 border border-neutral-30 hover-border-main-600 border">
                    <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                        <a href="instructor-details.html" class="w-100 h-100 d-flex align-items-end">
                            <img src="assets/images/thumbs/our-popular-img-2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
    
                        <div class="">
                            <div class="our-popular-five">
                                <button class="our-popular-five__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                                <ul class="social-list flex-align flex-column gap-12 mt-12">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
                    <div class="p-24">
                        <div class="text-center">
                            <h4 class="mb-4">
                                <a href="instructor-details.html" class="link text-line-2">Theresa Webb</a>
                            </h4>
                            <span>Data And Science</span>
                        </div>
                    </div>
                </div>
            </div>

            
           

        </div>

        <div class="flex-align gap-16 mt-40 justify-content-center">
            <button type="button" id="our-popular-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" data-aos="fade-right">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="our-popular-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" data-aos="fade-left">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
        
    </div>
 </section>
<!-- ================================ our popular Section End ==================================== -->
