<!-- ======================================= Popular Teacher section start =========================== -->
  <section class="tutor-two py-120 position-relative z-1 background-img" data-background-image="assets/images/bg/gradient-bg-2.png">
    <div class="container">

        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                <h5 class="text-main-600 mb-0">Our Popular Tutors</h5>
            </div>
            <h2 class="mb-24">What Our Students Say</h2>
            <p class="">Our tutoring sessions are interactive and engaging, focusing on the student's specific needs.</p>
        </div>
        
        <div class="tutor-slider">
            <div>
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-20">
                    <div class="course-item__thumb rounded-12 bg-main-25 overflow-hidden position-relative">
                        <a href="tutor-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/instructor-img1.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <h4 class="mb-16">
                                <a href="tutor-details.html" class="link text-line-2">Ronald Richards</a>
                            </h4>
                            <div class="flex-between gap-8 flex-wrap">
                                <div class="flex-align gap-12">
                                    <span class="text-2xl text-main-600 d-flex"><i class="ph-bold ph-graduation-cap"></i></span>
                                    <span class="">Global University</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-24 flex-between gap-16 flex-wrap">
                                <h4 class="mb-0 text-main-two-600">
                                    $155 <span class="text-inherit text-neutral-200 fw-normal">per/hr</span> 
                                </h4>
                                <div class="flex-align gap-8 py-10 px-14 border border-main-100 rounded-8 bg-main-25">
                                    <span class="text-xl d-flex text-main-600"><i class="ph-bold ph-map-pin"></i></span>
                                    <span class="text-sm fw-medium text-neutral-500">New York</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-24 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-20">
                    <div class="course-item__thumb rounded-12 bg-main-25 overflow-hidden position-relative">
                        <a href="tutor-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/instructor-img2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <h4 class="mb-16">
                                <a href="tutor-details.html" class="link text-line-2">Jacob Jones</a>
                            </h4>
                            <div class="flex-between gap-8 flex-wrap">
                                <div class="flex-align gap-12">
                                    <span class="text-2xl text-main-600 d-flex"><i class="ph-bold ph-graduation-cap"></i></span>
                                    <span class="">LKS University</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-24 flex-between gap-16 flex-wrap">
                                <h4 class="mb-0 text-main-two-600">
                                    $155 <span class="text-inherit text-neutral-200 fw-normal">per/hr</span> 
                                </h4>
                                <div class="flex-align gap-8 py-10 px-14 border border-main-100 rounded-8 bg-main-25">
                                    <span class="text-xl d-flex text-main-600"><i class="ph-bold ph-map-pin"></i></span>
                                    <span class="text-sm fw-medium text-neutral-500">Phoenix</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-24 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-20">
                    <div class="course-item__thumb rounded-12 bg-main-25 overflow-hidden position-relative">
                        <a href="tutor-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/instructor-img3.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <h4 class="mb-16">
                                <a href="tutor-details.html" class="link text-line-2">Darlene Robertson</a>
                            </h4>
                            <div class="flex-between gap-8 flex-wrap">
                                <div class="flex-align gap-12">
                                    <span class="text-2xl text-main-600 d-flex"><i class="ph-bold ph-graduation-cap"></i></span>
                                    <span class="">Notware</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-24 flex-between gap-16 flex-wrap">
                                <h4 class="mb-0 text-main-two-600">
                                    $155 <span class="text-inherit text-neutral-200 fw-normal">per/hr</span> 
                                </h4>
                                <div class="flex-align gap-8 py-10 px-14 border border-main-100 rounded-8 bg-main-25">
                                    <span class="text-xl d-flex text-main-600"><i class="ph-bold ph-map-pin"></i></span>
                                    <span class="text-sm fw-medium text-neutral-500">Chicago</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-24 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-20">
                    <div class="course-item__thumb rounded-12 bg-main-25 overflow-hidden position-relative">
                        <a href="tutor-details.html" class="w-100 h-100">
                            <img src="assets/images/thumbs/instructor-img4.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                        </a>
                    </div>
                    <div class="pt-32 pb-24 px-16 position-relative">
                        <div class="">
                            <h4 class="mb-16">
                                <a href="tutor-details.html" class="link text-line-2">Esther Howard</a>
                            </h4>
                            <div class="flex-between gap-8 flex-wrap">
                                <div class="flex-align gap-12">
                                    <span class="text-2xl text-main-600 d-flex"><i class="ph-bold ph-graduation-cap"></i></span>
                                    <span class="">Global University</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-lg text-neutral-700">
                                        4.7
                                        <span class="text-neutral-100">(6.4k)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-24 flex-between gap-16 flex-wrap">
                                <h4 class="mb-0 text-main-two-600">
                                    $155 <span class="text-inherit text-neutral-200 fw-normal">per/hr</span> 
                                </h4>
                                <div class="flex-align gap-8 py-10 px-14 border border-main-100 rounded-8 bg-main-25">
                                    <span class="text-xl d-flex text-main-600"><i class="ph-bold ph-map-pin"></i></span>
                                    <span class="text-sm fw-medium text-neutral-500">Phoenix</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-24 border-dashed border-0">
                            <a href="contact.html" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                Apply Now
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flex-center gap-16 mt-40">
            <button type="button" id="tutor-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="tutor-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
    </div>
 </section>
<!-- ======================================= Popular Teacher section End =========================== -->