<!-- ============================== Review Section start =============================== -->
<section class="review py-120 bg-main-25 overflow-hidden">
 

    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                <h5 class="text-main-600 mb-0">People Love Us!</h5>
            </div>
            <h2 class="mb-24">What Our Satisfied Say</h2>
            <p class="">Our students' success stories speak volumes. Here are just a few testimonials from our satisfied learners</p>
        </div>
        <div class="position-relative z-1">
            <img src="assets/images/shapes/shape2.png" alt="" class="shape two style-left animation-scalation">
            <img src="assets/images/shapes/shape6.png" alt="" class="shape four style-top animation-scalation">
            <img src="assets/images/shapes/shape2.png" alt="" class="shape four style-right animation-scalation">
            
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="bg-white p-32 rounded-12 box-shadow-md">
                        <h4 class="text-center mb-32">What our Parents say about us</h4>
                        <div class="review-slider">
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-25 hover-bg-main-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img1.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Robiul Hasan</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">Front End Developer</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-two-25 hover-bg-main-two-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img4.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Floyd Miles</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">Doctor</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-25 hover-bg-main-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img3.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Nora Fatehi</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">Engineer</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white p-32 rounded-12 box-shadow-md">
                        <h4 class="text-center mb-32">What our Tutors say about us</h4>
                        <div class="review-slider-two">
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-25 hover-bg-main-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img2.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Kathryn Murphy</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">Graphic Designer</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-two-25 hover-bg-main-two-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img3.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Sarah L.</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">WP Developer</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                            <div class="rounded-12 p-32 text-center transition-2 item-hover bg-main-25 hover-bg-main-600">
                                <span class="w-120 h-120 rounded-circle overflow-hidden d-inline-flex">
                                    <img src="assets/images/thumbs/testimonials-three-img3.png" alt="" class="cover-img">
                                </span>
                                <h4 class="mt-24 mb-8 item-hover__text transition-2">Nora Fatehi</h4>
                                <span class="text-neutral-500 d-block item-hover__text transition-2">Engineer</span>
                                <ul class="flex-align d-inline-flex gap-8 my-24">
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                                </ul>
                                <p class="text-xl-res item-hover__text transition-2">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Review Section End =============================== -->