<div class="header-select border border-neutral-30 bg-main-25 rounded-pill position-relative">
    <span class="select-icon position-absolute top-50 translate-middle-y inset-inline-start-0 z-1 ms-lg-4 ms-12 text-xl pointer-event-none d-flex">
        <i class="ph-bold ph-squares-four"></i>
    </span>
    <select class="js-example-basic-single border-0" name="state">
        <option value="1" selected disabled>Categories</option>
        <option value="1">Grocery</option>
        <option value="1">Breakfast & Dairy</option>
        <option value="1">Vegetables</option>
        <option value="1">Milks and Dairies</option>
        <option value="1">Pet Foods & Toy</option>
        <option value="1">Breads & Bakery</option>
        <option value="1">Fresh Seafood</option>
        <option value="1">Fronzen Foods</option>
        <option value="1">Noodles & Rice</option>
        <option value="1">Ice Cream</option>
    </select>
</div>