<!-- =========================== Specialist section start ==================================== -->
 <section class="specialist py-120">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                <h5 class="text-main-600 mb-0">Find Our Specialist</h5>
            </div>
            <h2 class="mb-24">Find Your Subject Specialist</h2>
        </div>

        <div class="row gy-4">

            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-25 py-24 flex-align gap-24">
                    <span class="text-main-600">
                        <img src="assets/images/icons/specialist-icon1.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Bangla</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon2.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">English</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-three-25 py-24 flex-align gap-24">
                    <span class="text-main-three-600">
                        <img src="assets/images/icons/specialist-icon3.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Mathematics</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon4.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Biology</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon5.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Physics</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-three-25 py-24 flex-align gap-24">
                    <span class="text-main-three-600">
                        <img src="assets/images/icons/specialist-icon6.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Chemistry</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon7.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">ICT & IT</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-25 py-24 flex-align gap-24">
                    <span class="text-main-600">
                        <img src="assets/images/icons/specialist-icon8.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Geography</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-three-25 py-24 flex-align gap-24">
                    <span class="text-main-three-600">
                        <img src="assets/images/icons/specialist-icon9.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Architecture</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon10.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Business</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-25 py-24 flex-align gap-24">
                    <span class="text-main-600">
                        <img src="assets/images/icons/specialist-icon11.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">History</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="ps-40 pe-8 rounded-12 animation-item bg-main-two-25 py-24 flex-align gap-24">
                    <span class="text-main-two-600">
                        <img src="assets/images/icons/specialist-icon12.png" alt="" class="animate__heartBeat">
                    </span>
                    <h4 class="mb-0">Philosophy</h4>
                </div>
            </div>

        </div>
    </div>
 </section>
<!-- =========================== Specialist section End ==================================== -->