<!-- ===================================== Testimonials Section Three Start ================================= -->
<section class="testimonials-three py-120 bg-main-25 position-relative z-1">
    <img src="assets/images/shapes/shape2.png" alt="" class="shape two animation-scalation">
    <img src="assets/images/shapes/shape6.png" alt="" class="shape four animation-scalation">
    <img src="assets/images/shapes/shape4.png" alt="" class="shape one animation-scalation">

    <div class="container">
        <div class="row gy-4 align-items-center flex-wrap-reverse">
            <div class="col-xl-7">
                <div class="testimonials-three-slider">
                    <div class="testimonials-three-item bg-white p-24 rounded-12 box-shadow-md">
                        <div class="w-90 h-90 rounded-circle position-relative mb-4">
                            <img src="assets/images/thumbs/testimonials-three-img2.png" alt="" class="cover-img rounded-circle">
                            <span class="w-40 h-40 bg-main-two-600 flex-center border border-white border-2 rounded-circle position-absolute inset-block-end-0 inset-inline-end-0 mt--5 me--5">
                                <img src="assets/images/icons/quote-two-icon.png" alt="">
                            </span>
                        </div>
                        <p class="text-neutral-500 my-24">Attending [University Name] was one of the best decisions I've made. The </p>
                        <ul class="flex-align gap-8 mb-16">
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                        </ul>
                        <h4 class="mb-16 text-lg">Ronald Richards</h4>
                        <span class="text-neutral-500">Student</span>
                    </div>
                    <div class="testimonials-three-item bg-white p-24 rounded-12 box-shadow-md">
                        <div class="w-90 h-90 rounded-circle position-relative mb-4">
                            <img src="assets/images/thumbs/testimonials-three-img1.png" alt="" class="cover-img rounded-circle">
                            <span class="w-40 h-40 bg-main-two-600 flex-center border border-white border-2 rounded-circle position-absolute inset-block-end-0 inset-inline-end-0 mt--5 me--5">
                                <img src="assets/images/icons/quote-two-icon.png" alt="">
                            </span>
                        </div>
                        <p class="text-neutral-500 my-24">"The faculty at are not only experts in their fields but teaching students."</p>
                        <ul class="flex-align gap-8 mb-16">
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                        </ul>
                        <h4 class="mb-16 text-lg">Brooklyn Simmons</h4>
                        <span class="text-neutral-500">Student</span>
                    </div>
                    <div class="testimonials-three-item bg-white p-24 rounded-12 box-shadow-md">
                        <div class="w-90 h-90 rounded-circle position-relative mb-4">
                            <img src="assets/images/thumbs/testimonials-three-img3.png" alt="" class="cover-img rounded-circle">
                            <span class="w-40 h-40 bg-main-two-600 flex-center border border-white border-2 rounded-circle position-absolute inset-block-end-0 inset-inline-end-0 mt--5 me--5">
                                <img src="assets/images/icons/quote-two-icon.png" alt="">
                            </span>
                        </div>
                        <p class="text-neutral-500 my-24">As a faculty member at [University Name], I've had the privilege of working</p>
                        <ul class="flex-align gap-8 mb-16">
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                        </ul>
                        <h4 class="mb-16 text-lg">Courtney Henry</h4>
                        <span class="text-neutral-500">Student</span>
                    </div>
                    <div class="testimonials-three-item bg-white p-24 rounded-12 box-shadow-md">
                        <div class="w-90 h-90 rounded-circle position-relative mb-4">
                            <img src="assets/images/thumbs/testimonials-three-img3.png" alt="" class="cover-img rounded-circle">
                            <span class="w-40 h-40 bg-main-two-600 flex-center border border-white border-2 rounded-circle position-absolute inset-block-end-0 inset-inline-end-0 mt--5 me--5">
                                <img src="assets/images/icons/quote-two-icon.png" alt="">
                            </span>
                        </div>
                        <p class="text-neutral-500 my-24">"The faculty at are not only experts in their fields but teaching students."</p>
                        <ul class="flex-align gap-8 mb-16">
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                            <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                        </ul>
                        <h4 class="mb-16 text-lg">Brooklyn Simmons</h4>
                        <span class="text-neutral-500">Student</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 ps-xl-5">
                <div class="flex-align d-inline-flex gap-8 mb-16">
                    <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                    <h5 class="text-main-600 mb-0">Testimonials</h5>
                </div>
                <h2 class="mb-24">What Our Community Says</h2>
                <p class="text-neutral-500 text-line-4">Welcome to our testimonial section, where members of our university community share their experiences and insights about life at EduAll. We invite you to join us and be part of our inspiring journey of learning, growth, and achievement.</p>
                <div class="flex-align gap-16 mt-40">
                    <button type="button" id="testimonials-three-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                        <i class="ph ph-caret-left"></i>
                    </button>
                    <button type="button" id="testimonials-three-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48" style="">
                        <i class="ph ph-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================================== Testimonials Section Three End ================================= -->