<!-- ============================ Tuition Types Section Start ==================================== -->
<section class="tuition-types py-120 position-relative z-1 mash-bg-main mash-main-style-two mash-bg-main-two mash-two-style-two overflow-hidden">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                <h5 class="text-main-600 mb-0">Tuition Types</h5>
            </div>
            <h2 class="mb-24">Find the Best Tuition Type which suits you most</h2>
            <p class="">Where you can explore the range of services and benefits available to you. Whether you're a student looking...</p>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-25 text-main-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-house-line"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">Home Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-two-25 text-main-two-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-wifi-high"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">Online Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-three-25 text-main-three-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-users"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">Group Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-two-25 text-main-two-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-users-three"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">Package Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-two-25 text-main-two-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-buildings"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">School Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-three-25 text-main-three-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-building-office"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">College Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-two-25 text-main-two-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-graduation-cap"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">University Tutoring</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
                <div class="tuition-types-item animation-item h-100 text-center px-16 py-60 rounded-12 bg-white box-shadow-md transition-2 item-hover hover-bg-main-600">
                    <span class="w-96 h-96 flex-center d-inline-flex bg-main-25 text-main-600 text-40 rounded-circle item-hover__bg">
                        <span class="animate__wobble">
                            <i class="ph ph-music-notes"></i>
                        </span>
                    </span>
                    <h4 class="display-four mb-0 mt-32 text-neutral-700 item-hover__text transition-2">Music Tutoring</h4>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ============================ Tuition Types Section End ==================================== -->