// width height
@each $property, $value in $spaces {
    .w-#{$property} {
      width: $value !important;
    }
}

@each $property, $value in $spaces {
    .h-#{$property} {
      height: $value !important;
    }
}

.max-h-unset {
    max-height: unset !important;
}

.max-w-unset {
    max-width: unset !important;
}

.w-50-percent {
  width: 50% !important;
}